
<nav class="navbar navbar-expand-md navbar-light bg-dark mb-1">

    <span class="navbar-brand mb-0 h2 text-white">Job Finder</span>


    <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarNav" style="font-size:larger;">

      <ul class="navbar-nav ml-auto ">
        <!-- Links of navbar -->
        <li class="nav-item">
          <a class="nav-link text-white" href="/postjob">Post a Job</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="/api/jobs">All jobs</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link text-white" href="/logout">Logout</a>
        </li>
      </ul>
    </div>

  </nav>
  <br><br>


  <div class="container mb-3">

    <div class="row">
      <div class="col-md-2">
      </div>

      <div class="col-md-8">
        <form class="input-group mb-3">
          <input type="text" class="form-control" id="searchInput" placeholder="Search role, technology or company..">
          <button type="submit" value="Search" class="btn btn-md btn-info align-items-center">Search</button>
        </form>
      </div>

      <div class="col-md-2">
      </div>
    </div>
  </div>

  <br><br>
  <div class="row mr-2 ml-2" id="jobs">
    <div class="col-md-1">
    </div>
    
    {{#each job}}
    <div class=" card shadow rounded col-sm-10 col-md-10 col-lg-8 bg-dark text-white greenborder" style="margin:auto;padding:auto;">
      <div class="card-body">
           <div class="row">
          
            <h4 class="ml-3">{{role}}</h4> <p class= " ml-3"><span class="text-info">{{jobtype}}</span></p>
           </div>
          <p><strong>{{company}}</strong></p> 
          
          <p>Description : <span class="text-info">{{description}}</span></p>

          <p>Salary :  <span class="text-info">{{Salary}}</span></p>
          <p>Job Location : <span class="text-info">{{joblocation}}</span></p>
         
          <div class="tech">
            <p>Technologies Needed: <span class="text-info">{{technologies}}</span></p>
          </div>
          <div>
            <a href="mailto:{{contact_email}}" class="btn btn-md btn-info mb-2">Contact</a>
          </div>
       
      </div>
    </div>
     {{/each}}

    <div class="col-sm-1 col-md-1">
    </div>
  </div>
  </div>
  </div>

  <footer class="footer mt-auto py-2 fixed-bottom text-center bg-dark text-white">
    <p>
       &copy; Job Finder
   </p>
 </footer>
  <script src="/js/jobsearch.js"></script>