
<div id="userJobs"></div>

<div id="postedData">
  <nav class="navbar navbar-expand-md navbar-light bg-dark mb-1">

    <span class="navbar-brand mb-0 h2 text-white">Job Finder</span>


    <button class="navbar-toggler bg-white" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarNav" style="font-size:larger;">

      <ul class="navbar-nav ml-auto ">
        <!-- Links of navbar -->

        <li class="nav-item">
          <a class="nav-link text-white" href="/jobsearch">Job Search</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="api/jobs">All Jobs</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-white" href="/postjob">Post Job</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link text-white" href="/logout">Logout</a>
        </li>
      </ul>
    </div>

  </nav>
  <br><br>


  <div class="container mb-3">
    <div class="row mr-2 ml-2" id="jobs">
      <div class="col-md-1">
      </div>

      <div class="col-md-10 col-lg-8">
        <h2 class="text-center">Posted Jobs</h2>
        <br>
        {{#each job}}
        {{!-- {{> jobcard}} --}}
        <div class="eachjob card shadow rounded bg-dark text-white greenborder mb-4">
          <div class="card-body">
            <div class="row">

              <h4 class="ml-3">{{this.role}}</h4>
              <p class="ml-3"><span class="text-info">{{jobtype}}</span></p>
            </div>
            <p class="mb-1"><strong>{{this.company}}</strong></p>

            <p class="mb-1">Description : <span class="text-info">{{this.description}}</span></p>
            <p class="mb-1">Job Location : <span class="text-info">{{this.joblocation}}</span></p>
            <p class="mb-1">Salary : <span class="text-info">{{this.salary}}</span></p>

            <div class="tech">
              <p class="mb-1">Technologies Needed: <span class="text-info">{{this.technology}}</span></p>
            </div>
            {{!-- <div>
              <a href="mailto:{{this.contact}}" class="btn btn-md btn-info mb-2">Contact</a>
            </div> --}}
            <div>
              <button class="btn btn-md btn-info mb-2 mt-2" data-id={{this.id}}>Delete</button>
            </div>
          </div>
        </div>
        {{/each}}
      </div>

    </div>

    <div class="col-md-1">
    </div>
  </div>

  <footer class="footer mt-auto py-2 fixed-bottom text-center bg-dark text-white">
    <p>
      &copy; Job Finder
    </p>
  </footer>
</div>
<script src="/js/postedjobs.js"></script>
{{!-- <script type="text/javascript">
  $(document).ready(function () {

    // compile our template
    var template = Handlebars.compile($("#job-template").html());

    // add the person partial
    Handlebars.registerPartial("jobcard", $("#job-partial").html());

    const userId = localStorage.getItem("userId");
    //Send the GET request to server.
    $.ajax("/api/postedjobs/" + userId, {
      type: "GET",
      userId: userId
    })
      .then(searchedData => {
        console.log("Searched successfully!");
        console.log("Searched Data: " + JSON.stringify(searchedData));

        //let source = $(".card").html();
        // let template = Handlebars.compile(source);
        //let html = template(searchedData);
        // $(".card").innerHTML = html;

        $('#userJobs').html(template(searchedData));
      })
      .catch(function (error) {
        console.log("got an error " + error);
      });
  });
</script> --}}